<div class="container">
  <h3><%= t('instructions.api_listing.header')%></h3>
  <p><code><%= root_url + t('instructions.api_listing.url') %></code><p>
  <p><%= t('instructions.api_listing.params')%></p>
  <ul>
    <li><%= t('instructions.api_listing.token') %></li>
    <li><%= t('instructions.api_listing.script_id') %></li>
    <li><%= t('instructions.api_listing.limit') %></li>
    <li><%= t('instructions.api_listing.offset') %></li>
  </ul>
  <p><%= t('instructions.api_listing.example')%><code><%= 'GET ' +  root_url + t('instructions.api_listing.example_url') %></code><p>

</div>
