<div class="container col-md-offset-4 col-md-4 login-form">
  <div class="form-group">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>

        <%= f.label :name %>
        <%= f.text_field :name,  autofocus: true, class: 'form-control' %>

        <%= f.label :surname %>
        <%= f.text_field :surname,  autofocus: true, class: 'form-control', placeholder: t('auth.register.name')%>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div><%= t('devise.confirmations.waiting_for_confirmation')%><%= resource.unconfirmed_email %></div>
        <% end %>

        <%= f.label :password %> <i>(<%= t('devise.passwords.no_change') %>)</i><br />
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>

        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>

        <%= f.label :current_password %> <br />
        <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>

        <div class="login-group">
          <%= f.submit "Update", class: "btn btn-primary"%>
        </div>
    <% end %>
  </div>
  <div class="form-group">
    <h3>Unhappy? </h3>
    <%= button_to t('devise.registrations.cancel'), registration_path(resource_name), class: "btn btn-primary", data: { confirm: t('devise.confirmations.confirm') }, method: :delete %>
  </div>
</div>
