<%= extends :basic_panel do %>
    <% extractions = Extraction.where(script_id: @script.id).order('created_at DESC') %>
    <%= form_for(@script, remote: true, url: project_script_path(@script.project, @script)) do |f|  %>
        <%= extends :basic_panel_heading do %>
            <%= f.text_field(:name, class: 'form-control editable heading') %>
            <div class="row">
              <div class="col-md-6">
                <ol class="breadcrumb">
                  <li><%= link_to(t('layouts.projects'), projects_path()) %></li>
                  <li><%= link_to(@project.name, project_path(@project.id)) %></li>
                </ol>
              </div>
            </div>
        <% end %>
        <%= extends :basic_panel_body do %>
            <div class="row">
            <div class="col-md-7">
              <h4><%= t('scripts.columns.name') %></h4>
              <%= f.text_area :xpaths, value: pretty_json(@script), rows: json_height(@script), cols: 70, class: 'form-control codeblock'  %>
              <h4><%= t('scripts.columns.log_level') %></h4>
              <%= f.select :log_level, Script.log_levels, {}, class: 'form-control'%>
            </div>
            <div class="col-md-5">
              <h4><%= t('extractions.no_extraction') unless extractions.size > 0 %></h4>
              <%= render('last_extraction', extraction: extractions.first) if extractions.size > 0%>
            </div>
            <div class="col-md-12 submit-area">
              <%= f.submit(t('buttons.submit'), class: 'btn btn-primary') %>
            </div>
          </div>
        <% end %>
    <% end %>
    <%= extends :basic_panel_body do %>
      <%= link_to(t('scripts.button_api_list'), api_list_link(@script), method: :get,class: 'btn btn-primary') %>
      <%= link_to(t('scripts.button_api_export'), api_export_link(@script), method: :get,class: 'btn btn-primary') %>
      <%= form_tag(project_script_run_now_path(@script.project,@script), class: "form-inline") do  %>
          <%= submit_tag(t('scripts.button_run_now'), class: 'btn btn-primary') %>
      <% end %>
      <% if extractions.length >0 %>
        <%= link_to(t('extraction_datum.logs_script_link'), project_script_extraction_logs_path(@script.project,@script, extractions.first.id), method: :get,class: 'btn btn-primary') %>
      <% end %>
        <%= link_to t('extractions.index'), project_script_extractions_path(@script.project, @script), method: :get,class: 'btn btn-primary' %>
    <% end %>
<% end %>
<%= extends :basic_panel do %>
    <%= extends :basic_panel_body do %>
       <%= render 'frequencies/index', script: @script, project: @project, frequencies: @script.frequencies, frequency_new: @new_frequency %>
    <% end %>
<% end %>
