<table class="table table-striped table-hover">
  <thead>
	<tr>
	  <th> <%=t('data_fields.columns.name')%> </th>
	  <th> <%=t('data_fields.columns.type')%> </th>
      <th class="action-icon"> </th>
    </tr>
  </thead>
  <tbody>
  <%= render 'data_fields/new'%>
  <% if @data_field.length == 0 %>
      <td><%= t('data_fields.no_schemas') %></td>
      <td> </td>
      <td> </td>
  <% else %>
    <% @data_field.each do |d| %>
      <tr>
        <td> <%=link_to(d.name, edit_project_data_field_path(@project.id, d.id) )%> </td>
        <td style="width:200px" > <%= d.data_type%> </td>
        <td class="action-icon" >
          <%= link_to project_data_field_path(@project.id, d.id), method: :delete do %>
            <span class="glyphicon glyphicon-erase"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

