<% provide :title, t('user.index.title') %>
<%= extends :basic_panel do %>
  <%= extends :basic_panel_heading do %>
    <h1><%=t('users.header')%></h1>
  <% end %>

  <%= extends :basic_panel_body do %>
    <a href="<%= debug_path%>"><%= t('users.debug')%></a>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>
            <%=t('users.table_email')%>
          </th>
          <th>
            <%=t('users.table_role')%>
          </th>
          <th>
            <%=t('users.table_date')%>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <%= render 'user_row', user: user %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
