<h1>Registracia</h1>

<div class="container">
<div class="row">
  <%= form_for(@user) do |f| %>
      <!--<= form_messages_for @user %>-->
      <!--TODO form helper for error messages-->
      <% @user.errors.full_messages.reject(&:blank?).each do |message| %>
        <%= message %>
      <% end %>

      <div class="col-md-6">
      <div class="row form-group">
        <div>
          <%= f.label 'login' %>
          <%= f.text_field :login, class: 'form-control' %>
        </div>
        <div>
          <%= f.label 'password' %>
          <%= f.text_field :password, class: 'form-control' %>
        </div>
      </div>
  <%= f.submit 'Submit', class: "btn btn-primary" %>
      </div>
  <% end %>
</div>
</div>