<div class="container">
  <div class="col-md-4">
    <div class="row">
      <h2>Insert selfie here</h2>
    </div>
    <div class="row">
      <h2>Name</h2>
      <%= @user.name %>
    </div>

    <div class="row">
      <h2>Surname</h2>
      <%= @user.surname %>
    </div>

    <div class="row">
      <h2><%= t('users.table_email') %></h2>
      <%= @user.email %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="row">
        <h2><%= t('projects.index') %></h2>
    </div>
  </div>
</div>