<%= form_for([frequency], url: project_script_frequencies_path(project, script)) do |f|  %>
<tr>
  <td>
    <%= f.text_field(:interval, class: 'form-control') %>
  </td>
  <td>
    <%= f.select :period, select_periods, {}, class: 'form-control input-sm' %>
  </td>
  <td>
    <div class='input-group date' id='datetimepicker'>
      <%= f.text_field(:first_exec, class: 'form-control') %>
      <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </td>
  <td>
    <%= f.submit(t('frequencies.new_button'), class: 'btn btn-primary') %>
  </td>
  <td> </td>
</tr>
<% end %>

<% content_for :javascript do %>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker').datetimepicker({
                format: 'DD/MM/YYYY hh:mm:ss'
            });
        });
    </script>
<% end %>
