<%= extends :basic_panel do %>
    <%= extends :basic_panel_heading do %>
        <h1><%=t('frequencies.index')%></h1>
        <%= link_to(t('frequencies.new_button'), new_project_script_frequency_path, class: "btn btn-primary" )%>
    <% end %>
    <%= extends :basic_panel_body do %>
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th>
              <%= t('frequencies.columns.interval') %>
            </th>
            <th>
              <%= t('frequencies.columns.period') %>
            </th>
            <th>
              <%= t('frequencies.columns.first_exec') %>
          </th>
          </tr>
          </thead>
          <tbody>
          <% @frequencies.each do |f| %>
              <tr>
                <td>
                  <%= f.interval %>
                </td>
                <td>
                  <%= f.period %>
                </td>
                <td>
                  <%= f.first_exec %>
                </td>
                <td>
                  <%=link_to(t('frequencies.edit'), edit_project_script_frequency_path(@project.id, @script.id, f.id)) %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% end %>
<% end %>