<%= form_for(@project) do |f|  %>

    <h1><%= t('projects.edit') %></h1>


    <%= f.label(:name) %>
    <%= f.text_field(:name, class: 'form-control') %>


    <%= f.submit(t('buttons.submit'), class: 'btn btn-primary') %>
    <%= link_to(t('buttons.delete'), project_path, method: :delete) %>
<% end %>

