<%= extends :basic_panel do %>
  <%= form_for(@project, remote: true) do |f|  %>
    <%= extends :basic_panel_heading do %>
      <%= f.text_field(:name, class: 'form-control editable heading') %>
      <div class="row">
        <div class="col-md-6">
          <ol class="breadcrumb">
            <li><%= link_to('Projects', projects_path()) %></li>
          </ol>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= extends :basic_panel_body do %>
    <%= render 'scripts/index.html', scripts: @scripts %>
  <% end %>
  <hr>
  <%= extends :basic_panel_body do %>
    <%= render 'data_fields/index.html', data_field: @data_field %>
  <% end %>
<% end %>
