<%= extends :basic_panel do %>
  <%= extends :basic_panel_heading do %>
    <h1> Extraction <%= @extraction.created_at.strftime(t('time.format_extended')) %> </h1>
    <div class="row">
      <div class="col-md-6">
        <ol class="breadcrumb">
          <li><%= link_to(t('layouts.projects'), projects_path()) %></li>
          <li><%= link_to(@project.name, project_path(@project.id)) %></li>
          <li><%= link_to(@script.name, project_script_path(@project.id, @script.id)) %></li>
          <li><%= link_to(t('layouts.extractions'), project_script_extractions_path(@project.id, @script.id)) %></li>
        </ol>
      </div>
    </div>
   <% end %>
  <%= extends :basic_panel_body do %>
   <table class="table table-striped table-hover table-scrollable">
      <thead>
      <tr>
        <th> <%= 'instance_id' %> </th>
        <% @fields_array.each do |d| %>
            <th> <%= d.to_s %> </th>
        <% end %>
      </tr>
      </thead>
      <tbody>
        <% @children.each do |inst| %>
        <tr>
          <td> <%= inst.id %> </td>
          <% @array = make_array(inst, @fields_array)%>
          <% @array.each do |a|%>
            <td>
              <% if a.length > 100 %>
                <span class="truncated-text">
                  <%= a.truncate(100) %>
                  <br/>
                  <%= link_to(t('link.show_more'), '#', onclick: 'showMore(this);return false') %>
                </span>
                <span class="full-text">
                  <%= a %>
                  <br/>
                  <%= link_to(t('link.show_less'), '#', onclick: 'showLess(this);return false') %>
                </span>
            <% else %>
                <%= a %>
            <% end %>
            </td>
          <% end %>
        </tr>
      <% end%>
      </tbody>
   </table>
   <%= paginate @instances%>
  <% end %>
<% end %>
