<%= extends :basic_panel do %>
    <%= extends :basic_panel_heading do %>
        <h1> <%= t('extraction_datum.logs_header')%> <%= @extraction.created_at.strftime(t('time.format_extended')) %> </h1>
        <div class="row">
          <div class="col-md-6">
            <ol class="breadcrumb">
              <li><%= link_to(t('layouts.projects'), projects_path()) %></li>
              <li><%= link_to(@project.name, project_path(@project.id)) %></li>
              <li><%= link_to(@script.name, project_script_path(@project.id, @script.id)) %></li>
              <li><%= link_to(t('layouts.extractions'), project_script_extractions_path(@project.id, @script.id)) %></li>
            </ol>
          </div>
        </div>
    <% end %>
    <%= extends :basic_panel_body do %>
        <%= form_tag(project_script_extraction_logs_path(@project, @script, @extraction), class: "form-inline") do %>
            <%= check_box_tag('logs_filter_debug', 'logs_filter_debug',  @severities.include?(0) )%>
            <%= t('extraction_datum.filter.debug') %>

            <%= check_box_tag('logs_filter_warning', 'logs_filter_warning',  @severities.include?(1) )%>
            <%= t('extraction_datum.filter.warning') %>

            <%= check_box_tag('logs_filter_error', 'logs_filter_error', @severities.include?(2) )%>
            <%= t('extraction_datum.filter.error') %>

            <%= submit_tag(t('extraction_datum.filter.submit'), class: 'btn btn-primary') %>
        <% end %>
        <table class="table table-striped table-hover table-scrollable">
          <thead>
          <tr>
            <th class="fixed-column"> <%= t('extraction_datum.logs_table.created') %> </th>
            <th class="fixed-column"> <%= t('extraction_datum.logs_table.severity') %> </th>
            <th> <%= t('extraction_datum.logs_table.message') %> </th>
          </tr>
          </thead>
          <tbody>
            <% @logs.each do |log| %>
              <tr>
                <td> <%= log.created_at.strftime(t('time.format_extended')) %> </td>
                <td> <%= logs_severity_to_string(log.severity)%> </td>
                <td>
                  <% if log.msg.length > 100 %>
                    <span class="truncated-text">
                      <%= log.msg.truncate(100) %>
                      <br/>
                      <%= link_to(t('link.show_more'), '#', onclick: 'showMore(this);return false') %>
                    </span>
                    <span class="full-text">
                      <%= log.msg %>
                      <br/>
                      <%= link_to(t('link.show_less'), '#', onclick: 'showLess(this);return false') %>
                    </span>
                  <% else %>
                    <%= log.msg %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <%=  paginate @logs%>
    <% end %>
<% end %>
