<!DOCTYPE html>
<html>
<head>
  <title>WebX</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= "intro-page" unless user_signed_in? %>" data-turbolinks="false" ng-app="webx" ng-controller="MainCtrl" ng-cloak>
<%= render 'layouts/header' %>
<div class="row">
	<div class="col-md-12">
		<div class="container">
		<%= render 'application/flash' %>
		</div>
	</div>
</div>
<div class="row main-content">
	<div class="col-md-12">
		    <%= yield %>
        <%= yield :javascript %>
		</div>
</div>
<%= render 'layouts/footer' %>
<%= yield :javascript %>
</body>
</html>
