<!DOCTYPE html>
<html>
<head>
  <title>WebX</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= "intro-page" unless user_signed_in? %>">
<%= render 'layouts/header' %>
	<div class="row main-content">
		<div class="col-md-12">
 		    <%= yield %>
            <%= yield :javascript %>
 		</div>
	</div>
<%= render 'layouts/footer' %>
</body>
</html>
